/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// @import './example';

@import './base/modern_normalize';
@import './utils/variables';
@import './components/hero-header';
@import './components/products';
@import './components/about';
@import './components/advantages';
@import './components/gallery';
@import './components/customer-reviews';
@import './components/contacts';
@import './components/footer';

// Ниже идут переменные для адаптивки, менять нельзя без согласования

$mobile: 480px;
$tablet: 768px;
$desktop: 1050px;
