$text-color-black: #000000;
$text-color-white: #ffffff;
$text-color-red: #d41443;
$text-color-pink: #ffa5ba;
$text-color-grey: #907e82;

$background-pink: #fff5f6;
$background-white: #e5e5e5;
// Ниже идут переменные для адаптивки, менять нельзя без согласования

$mobile: 480px;
$tablet: 768px;
$desktop: 1050px;
