$text-color-black: #000000;
$text-color-white: #ffffff;
$text-color-red: #d41443;
$text-color-pink: #ffa5ba;
$text-color-grey: #907e82;

$hover-grey: #ecebeb;
$hover-red: #c7133e;

$background-pink: #fff5f6;
$background-grey: #e5e5e5;
$background-white: #ffffff;
$background-hero: #ffb8ca;

// Переменные для транзишнов
$bgc-transition-250ms: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$color-transition-250ms: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$fill-transition-250ms: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
$box-shadow-transition-250ms: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
$border-color-transition-250ms: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//переменные для адаптивки

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

// переменные для контейнера
$mobile-container: 480px;
$tablet-container: 768px;
$desktop-container: 1080px;
