$text-color-black: #000000;
$text-color-white: #ffffff;
$text-color-red: #d41443;
$text-color-pink: #ffa5ba;
$text-color-grey: #907e82;

$hover-grey: #ecebeb;
$hover-red: #c7133e;

$background-pink: #fff5f6;
$background-grey: #e5e5e5;
$background-white: #ffffff;

//переменные для адаптивки

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

// переменные для контейнера
$mobile-container: 480px;
$tablet-container: 768px;
$desktop-container: 1080px;
