<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <h2 class="contacts__title visually-hidden">Контакты</h2>

    <div class="contacts__card">
      <p class="contacts__representation">CAFE</p>
      <div class="contacts__headline">
        <p class="contacts__item">Chicago</p>
        <p class="contacts__pages">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <ul class="contacts__data">
        <li class="contacts__day">
          Monday - Friday
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__day">
          Saturday - Sunday
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts__list list">
        <li class="contacts__address">
          <a class="contacts__tel link" href="tel:+610383766284"> +61(0) 383 766 284</a>
        </li>
        <li class="contacts__address">
          <a class="contacts__mail link" href="mailto:noreply@envato.com"> noreply@envato.com</a>
        </li>
      </ul>
    </div>

    <div class="contacts__card">
      <p class="contacts__representation-truck">FOOD TRUCK</p>
      <div class="contacts__headline">
        <p class="contacts__item">Los Angeles</p>
        <p class="contacts__pages">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <ul class="contacts__data">
        <li class="contacts__day">
          Monday - Friday
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__day">
          Saturday - Sunday
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts__list list">
        <li class="contacts__address">
          <a class="contacts__tel link" href="tel:+610383766284"> +61(0) 383 766 284</a>
        </li>
        <li class="contacts__address">
          <a class="contacts__mail link" href="mailto:noreply@envato.com"> noreply@envato.com</a>
        </li>
      </ul>
    </div>

    <div class="contacts__card">
      <p class="contacts__representation">CAFE</p>
      <div class="contacts__headline">
        <p class="contacts__item">New York</p>
        <p class="contacts__pages">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <ul class="contacts__data">
        <li class="contacts__day">
          Monday - Friday
          <p class="contacts__time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__day">
          Saturday - Sunday
          <p class="contacts__time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts__list list">
        <li class="contacts__address">
          <a class="contacts__tel link" href="tel:+610383766284"> +61(0) 383 766 284</a>
        </li>
        <li class="contacts__address">
          <a class="contacts__mail link" href="mailto:noreply@envato.com"> noreply@envato.com</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container contacts__btn">
    <button type="button" class="contacts__btn-location">
      Our Locations
      <svg class="contacts__btn-icon" width="6" height="10">
        <use href="images/sprites.svg#icon-contacts"></use>
      </svg>
    </button>
    <button type="button" class="contacts__btn-franchise" contacts-franchise-open>
      Franchise
      <svg class="contacts__btn-icon" width="6" height="10">
        <use href="images/sprites.svg#icon-contacts"></use>
      </svg>
    </button>
  </div>
  <div class="backdrop is-hidden" contacts-franchise>
    <div class="about-modal">
      <button type="button" class="modal__btn--close" contacts-franchise-close>
        <svg class="modal__icon--close" width="18" height="18">
          <use href="images/sprites.svg#close"></use>
        </svg>
      </button>
      <h4>Only hand made</h4>
    </div>
  </div>
</section>
