<section class="contacts">
  <div class="container contacts-container">
    <h2 class="contacts__title visually-hidden">Контакты</h2>

    <div class="contacts__card">
      <p class="contacts-representation">CAFE</p>
      <div class="contacts-headline">
        <p class="contacts-item">Chicago</p>
        <p class="contacts-pages">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <ul class="contacts-data">
        <li class="contacts-day">
          Monday - Friday
          <p class="contacts-time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts-day">
          Saturday - Sunday
          <p class="contacts-time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts-list list">
        <li class="contacts-address">
          <a class="contacts-tel link" href="tel:+610383766284"> +61(0) 383 766 284</a>
        </li>
        <li class="contacts-address">
          <a class="contacts-mail link" href="mailto:noreply@envato.com"> noreply@envato.com</a>
        </li>
      </ul>
    </div>

    <div class="contacts__card">
      <p class="contacts-representation-truck">FOOD TRUCK</p>
      <div class="contacts-headline">
        <p class="contacts-item">Los Angeles</p>
        <p class="contacts-pages">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <ul class="contacts-data">
        <li class="contacts-day">
          Monday - Friday
          <p class="contacts-time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts-day">
          Saturday - Sunday
          <p class="contacts-time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts-list list">
        <li class="contacts-address">
          <a class="contacts-tel link" href="tel:+610383766284"> +61(0) 383 766 284</a>
        </li>
        <li class="contacts-address">
          <a class="contacts-mail link" href="mailto:noreply@envato.com"> noreply@envato.com</a>
        </li>
      </ul>
    </div>

    <div class="contacts__card">
      <p class="contacts-representation">CAFE</p>
      <div class="contacts-headline">
        <p class="contacts-item">New York</p>
        <p class="contacts-pages">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
      </div>
      <ul class="contacts-data">
        <li class="contacts-day">
          Monday - Friday
          <p class="contacts-time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts-day">
          Saturday - Sunday
          <p class="contacts-time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts-list list">
        <li class="contacts-address">
          <a class="contacts-tel link" href="tel:+610383766284"> +61(0) 383 766 284</a>
        </li>
        <li class="contacts-address">
          <a class="contacts-mail link" href="mailto:noreply@envato.com"> noreply@envato.com</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container contacts__btn">
    <button type="button" class="contacts__btn-location">
      Our Locations
      <svg class="contacts__btn-icon" width="6" height="10">
        <use href="images/sprites.svg#icon-contacts"></use>
      </svg>
    </button>
    <button type="button" class="contacts__btn-franchise">
      Franchise
      <svg class="contacts__btn-icon" width="6" height="10">
        <use href="images/sprites.svg#icon-contacts"></use>
      </svg>
    </button>
  </div>
</section>
