<section class="reviews-section">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    
    <div class="multiple-items">
      <div>
        <article>
          <div class="customer-photo">
            <picture>
              <img class="customer-icon" srcset="images/customer/customer1-1x.jpg 1x, images/customer/customer1-2x.jpg 2x"
                src="images/customer/customer1-1x.jpg" alt="фотография покупателя" />
            </picture>
          </div>
          <p class="review-text"><span class="review-text__gradient">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
              nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span>
          </p>
        
          <h3 class="customer-info">Emily, Los Angeles</h3>
          <svg class="review-icon" width="73" height="12">
            <use href="images/sprites.svg#icon-hr-dots-first"></use>
          </svg>
        </article>
      </div>

      <div>
        <article>
          <div class="customer-photo">
            <picture>
              <img class="customer-icon" srcset="images/customer/customer2-1x.jpg 1x, images/customer/customer2-2x.jpg 2x"
                src="images/customer/customer2-1x.jpg" alt="фотография покупателя" />
            </picture>
          </div>
          <p class="review-text"><span class="review-text__gradient">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
              nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span>
          </p>
        
          <h3 class="customer-info">Emily, Los Angeles</h3>
          <svg class="review-icon" width="73" height="12">
            <use href="images/sprites.svg#icon-hr-dots-second"></use>
          </svg>
        </article>
      </div>
      <div>
        <article>
          <div class="customer-photo">
            <picture>
              <img class="customer-icon" srcset="images/customer/customer3-1x.jpg 1x, images/customer/customer3-2x.jpg 2x"
                src="images/customer/customer3-1x.jpg" alt="фотография покупателя" />
            </picture>
          </div>
          <p class="review-text"><span class="review-text__gradient">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
              nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span>
          </p>
        
          <h3 class="customer-info">Emily, Los Angeles</h3>
          <svg class="review-icon" width="73" height="12">
            <use href="images/sprites.svg#icon-hr-dots-third"></use>
          </svg>
        </article>
      </div>
    </div>
  </div>
</section>
