<section class="reviews-section">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    
        <article>
        <div class="customer-photo">
          <picture>
            <img class="customer-icon"
              srcset="images/customer/customer1-1x.jpg 1x, images/customer/customer1-2x.jpg 2x"
              src="images/customer/customer1-1x.jpg"
              alt="фотография покупателя"
            />
          </picture>
        </div>
        


        <div class="review-text__block">
        <p class="review-text"><span class="review-gradient">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span>
        </p> 
        </div>
        <h3 class="customer-info">Emily, Los Angeles</h3>
        <svg class="review-icon" width="73" height="12">
          <use href="images/sprites.svg#icon-hr-dots-first"></use>
        </svg>
        </article>
  
  </div>
</section>
