<header class="header">
  <div class="header__wrapper container">
    <a class="header__logo" href="./index.html">
      <img src="images/hero-header/logo.png" alt="логотип сайта" />
    </a>

    <!-- burger mobile button -->
    <button
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu-container"
      class="mobile-button js-open-menu"
    >
      <svg
        width="40"
        height="40"
        class="icon-menu"
        aria-label="Переключатель
            мобильного меню"
      >
        <use class="mobile-button__icon--burger" href="./images/sprites.svg#icon-burger"></use>
      </svg>
    </button>

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a class="header__nav-link" href="./index.html">Home</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#about">About us</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#about">How it’s made?</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#products">Our products</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="button--white button__hero">
      Buy now
      <svg class="about__btn-icon" width="6" height="10">
        <use href="images/sprites.svg#icon-right"></use>
      </svg>
    </button>
  </div>
</header>

<!-- Modal MENU start -->
<div class="backdrop-mobile is-open js-menu-container" id="mobile-menu-container">
  <div class="modal__header">
    <button class="modal__btn-close js-close-menu" type="button">
      <svg class="modal__btn-close-icon" width="14" height="14">
        <use href="images/sprites.svg#close"></use>
      </svg>
    </button>
    <button type="button" class="button--white button__hero-mobile">
      Buy now
      <svg class="about__btn-icon" width="6" height="10">
        <use href="images/sprites.svg#icon-right"></use>
      </svg>
    </button>

    <ul class="mobile__nav-list">
      <li class="mobile__nav-item">
        <a class="mobile__nav-link" href="./index.html">Home</a>
      </li>
      <li class="mobile__nav-item">
        <a class="mobile__nav-link" href="#about">About us</a>
      </li>
      <li class="mobile__nav-item">
        <a class="mobile__nav-link" href="#about">How it’s made?</a>
      </li>
      <li class="mobile__nav-item">
        <a class="mobile__nav-link" href="#products">Our products</a>
      </li>
      <li class="mobile__nav-item">
        <a class="mobile__nav-link" href="#contacts">Contact</a>
      </li>
    </ul>
  </div>
</div>
<!-- Modal MENU end -->
