<section class="section products-section">
    <div class="container">
        <p class="section__label">100% natural</p>
        <h2 class="section__title">products</h2>
        <ul class="products">
            <li class="products__item cream">
                <h3 class="products__name ">Ice Cream</h3>
                <p class="products__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe architecto accusamus
                commodi tenetur placeat illum consequuntur.</p>
                <a class="products__link" href="">
                    <svg class="products__icon" width="40" height="40">
                        <use href=""> </use>
                    </svg>
                </a>
            </li>
            <li class="products__item coffee">
                <h3 class="products__name">Ice Coffee</h3>
                <p class="products__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe architecto accusamus
                commodi tenetur placeat illum consequuntur.</p>
                <a class="products__link" href="">
                    <svg class="products__icon" width="40" height="40">
                        <use href=""> </use>
                    </svg>
                </a>
                   
            </li>
            <li class="products__item  milk" >
                <h3 class="products__name">Milkshakes</h3>
                <p class="products__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe architecto accusamus commodi tenetur placeat illum consequuntur.</p>
                <a class="products__link" href="">
                    <svg class="products__icon" width="40" height="40">
                        <use href=""> </use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>