.button {
  display: block;
  height: 24px;
  border: none;
  border-radius: 20px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: $text-color-white;
  background-color: $text-color-red;
  transition: $color-transition-250ms;
  transition: $bgc-transition-250ms;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.28;
    height: 40px;
  }
}

.button--white {
  display: block;
  align-self: center;
  height: 44px;
  min-width: 175px;
  border: none;
  border-radius: 22px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.29;
  align-items: center;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: $text-color-red;
  background-color: #ffffff;
  transition: $color-transition-250ms;
  transition: $bgc-transition-250ms;

  &:hover {
    background-color: #ecebeb;
  }
  .about__btn-icon {
    margin-left: 14px;
    fill: $text-color-red;
  }
}

.button__about {
  margin-left: auto;
  margin-right: auto;
  color: $text-color-red;
  background-color: $background-white;
  transition: $bgc-transition-250ms;
  transition: $color-transition-250ms;

  &:hover {
    background-color: $hover-grey;
  }
  .about__btn-icon {
    margin-left: 14px;
    fill: $text-color-red;
  }
  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.31;
    margin-left: 0;
  }
}

.button__hero {
  align-self: center;

  color: $text-color-red;
  background-color: $background-white;
  transition: $bgc-transition-250ms;
  transition: $color-transition-250ms;

  &:hover {
    background-color: $hover-grey;
  }
  .about__btn-icon {
    margin-left: 14px;
    fill: $text-color-red;
  }
  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.31;

    margin-left: 0;
  }
  @media screen and (min-width: $desktop) {
  }
}

// Це шлях до СВГхи для ХТМЛ

// <button type="button" class="about__btn">
//           Read more
//           <svg class="about__btn-icon" width="6" height="10">
//             <use href="images/sprites.svg#icon-right"></use>
//           </svg>
//         </button>

.mobile-button {
  width: 40px;
  height: 40px;

  padding: 0;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: $color-transition-250ms;
  transition: $bgc-transition-250ms;

  @media screen and (min-width: $tablet) {
    margin-left: auto;
    margin-right: 30px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }

  &__icon--burger {
    fill: $text-color-red;
    transition: $fill-transition-250ms;
    transition: $bgc-transition-250ms;
  }

  &:hover .mobile-button__icon--burger,
  &:focus .mobile-button__icon--burger {
    fill: $text-color-red;
  }

  &:hover .close-menu__icon,
  &:focus .close-menu__icon {
    fill: $text-color-white;
  }
}

.close-menu__icon {
  fill: currentColor;
  transition: $fill-transition-250ms;
}

.close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}
