.contacts {
  background-size: 100vw;

  @media screen and (min-width: 320px) and (max-width: 479px) {
    background: linear-gradient(to top, #fff5f6 95%, #ffffff 0%);
  }

  @media screen and (min-width: $mobile) {
    background: linear-gradient(to top, #fff5f6 95%, #ffffff 0%);
  }

  @media screen and (min-width: $tablet) {
    background: linear-gradient(to top, #fff5f6 92%, #ffffff 0%);
  }

  @media screen and (min-width: $desktop) {
    background-image: url(/images/contacts/contacts-min.png),
      linear-gradient(to top, #fff5f6 88%, #ffffff 0%);

    background-repeat: no-repeat;
    background-position: 50% 16%;
  }
}

.contacts__container {
  @media screen and (min-width: $mobile) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.contacts__title {
}

.contacts__card {
  background: $text-color-white;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 43px 45px 60px;
    max-width: 220px;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 43px 20px;
  }

  @media screen and (min-width: $tablet) {
    width: 220px;
    padding: 50px 31px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media screen and (min-width: $desktop) {
    width: 330px;
    padding: 51px 44px 62px 43px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contacts__headline {
  margin-top: 32px;
  margin-bottom: 32px;
}

.contacts__representation {
  background: #f0d1a5;
  border-radius: 6px;

  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.04em;

  color: $text-color-white;

  @media screen and (min-width: $mobile) {
    font-size: 12px;
    line-height: 1.83;
    width: 80px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.88;
    width: 73px;
    height: 28px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.88;
    width: 73px;
    height: 28px;
  }
}

.contacts__representation-truck {
  font-style: normal;
  font-weight: 500;

  text-align: center;
  letter-spacing: 0.04em;

  background: #c2e297;
  border-radius: 6px;

  color: #ffffff;

  @media screen and (min-width: $mobile) {
    font-size: 12px;
    line-height: 1.83;
    width: 130px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.88;
    width: 138px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.88;
    width: 138px;
  }
}

.contacts__item {
  margin-bottom: 10px;

  font-style: 400;
  font-weight: 500;
  letter-spacing: 0.04em;

  color: $text-color-black;

  @media screen and (min-width: $mobile) {
    font-size: 12px;
    line-height: 1.83;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 1.86;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.88;
  }
}

.contacts__address {
}

.contacts__day {
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.04em;

  color: $text-color-black;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @media screen and (min-width: $mobile) {
    font-size: 12px;
    line-height: 1.83;
  }

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.86;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.88;
  }
}

.contacts__pages {
  font-style: normal;
  font-weight: 500;

  letter-spacing: 0.04em;

  color: #907e82;

  @media screen and (min-width: $mobile) {
    font-size: 11px;
    line-height: 1.5;
  }

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.64;
  }

  @media screen and (min-width: $desktop) {
    font-size: 15px;
    line-height: 1.81;
  }
}

.contacts__data {
  @media screen and (min-width: $mobile) {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    max-width: 179px;

    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media screen and (min-width: $tablet) {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    max-width: 157px;

    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    max-width: 234px;

    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__time {
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;

  color: #ffa5ba;

  @media screen and (min-width: $mobile) {
    font-size: 12px;
    line-height: 1.83;
  }

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.88;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.88;
  }
}
.contacts__list {
  @media screen and (min-width: $mobile) {
    margin-top: 25px;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 32px;
  }
}

.contacts__tel {
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.81;

  color: #907e82;

  @media screen and (min-width: $mobile) {
    font-size: 12px;
    line-height: 1.5;
  }

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.86;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.81;
  }
}

.contacts__mail {
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.81;

  color: #907e82;

  @media screen and (min-width: $mobile) {
    font-size: 12px;
    line-height: 1.5;
  }

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.86;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.81;
  }
}

.contacts__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 86px;
  padding-bottom: 165px;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.contacts__btn-location,
.contacts__btn-franchise {
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  text-align: center;
  border: none;
  height: 44px;
  padding: 0;

  color: #d41443;
  background: #ffffff;
  transition: $color-transition-250ms;
  transition: $bgc-transition-250ms;
  border-radius: 22px;

  &:hover,
  &:focus {
    background: #d41342;
    color: $text-color-white;
  }

  &:focus .contacts__btn-icon,
  &:hover .contacts__btn-icon {
    stroke: #fff;
  }
}

.contacts__btn-location {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 162px;
    margin-bottom: 10px;
  }

  @media screen and (min-width: $tablet) {
    width: 192px;
    margin-right: 15px;
  }

  @media screen and (min-width: $desktop) {
    width: 198px;
    margin-right: 15px;
  }
}

.contacts__btn-franchise {
  @media screen and (min-width: $mobile) {
    width: 162px;
  }

  @media screen and (min-width: $tablet) {
    width: 175px;
  }

  @media screen and (min-width: $desktop) {
    width: 180px;
  }
}

.contacts__btn-icon {
  stroke: #d41443;

  @media screen and (min-width: $mobile) {
    margin-left: 8px;
  }

  @media screen and (min-width: $tablet) {
    margin-left: 13px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 14px;
  }
}
