.reviews-section {
  display: block;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 86px;
  @media screen and (min-width: $tablet) {
    margin-top: 121px;
    margin-bottom: 119px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 123px;
    margin-bottom: 132px;
  }
}

.customer-icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 31px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 19px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;
  }
}

.review-text {
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  background-color: #fafafa;
  position: relative;

  z-index: 1;

  padding-top: 41px;
  padding-right: 61px;
  padding-bottom: 28px;
  padding-left: 61px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  @media screen and (max-width: 767px) {
    max-width: 280px;
  }

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 2.16;
    width: 620px;
    padding-top: 47px;
    padding-right: 80px;
    padding-bottom: 34px;
    padding-left: 80px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.86;
    width: 926px;
    padding-top: 32px;
    padding-right: 52px;
    padding-bottom: 32px;
    padding-left: 52px;
  }
}

.review-text::before {
  content: '';

  position: absolute;
  top: 25px;
  left: 65px;
  z-index: -1;

  width: 54px;
  height: 40px;

  background-image: url('../images/customer/commapng.png');
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet) {
    top: 30px;
    left: 40px;
  }

  @media screen and (min-width: $desktop) {
    top: 15px;
    left: 35px;
  }
}

.review-text::after {
  content: '';

  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);

  width: 32px;
  height: 4px;

  margin-bottom: 18px;

  background-image: url('../images/customer/dots.png');
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet) {
    bottom: -44px;
  }

  @media screen and (min-width: $desktop) {
    bottom: -37px;
  }
}

.customer-info {
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
    margin-bottom: 35px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}

.review-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.review-text__gradient {
  display: inline;
  padding-bottom: 5px;

  background: linear-gradient(to right, #e1e1e1, #e1e1e1);
  background-position: 0 100%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.slick-prev,
.slick-next {
  background-color: #fafafa;
  transition: $bgc-transition-250ms;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  z-index: 5;
}

.slick-prev {
  left: 1%;
}
.slick-next {
  right: 1%;
}
.slick-prev::before,
.slick-next::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border-top: 3px solid $hover-red;
  border-left: 3px solid $hover-red;
  border-radius: 2px;
}
.slick-prev::before {
  transform: rotate(-45deg);
  margin-left: 11px;
}
.slick-next::before {
  transform: rotate(135deg);
  margin-right: 11px;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: $hover-grey;
  box-shadow: 0px 3px 10px $background-grey;
}
