.header {
  position: absolute;
  top: 6px;

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 38px;
    transform: translate(-50%, -50%);
    left: 50%;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;

  @media screen and (min-width: $tablet) {
    width: $tablet;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
    padding-top: 37px;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__logo {
  position: static;

  @media screen and (min-width: $desktop) {
    position: absolute;
  }
}

.mobile-button {
  display: block;
  margin-right: 20px;
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.header__nav {
  display: none;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);

  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.header__nav-list {
  @media screen and (min-width: $desktop) {
    margin-left: 355px;
    display: flex;
  }
}

.header__nav-link {
  color: $text-color-white;
  &:hover,
  &:focus {
    color: $text-color-red;
  }
}

.header__nav-item:not(:last-child) {
  margin-right: 35px;
}

.button__hero {
  margin: 0;
  padding: 0;
  background-color: $text-color-white;
  color: $text-color-red;
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
  }
}
