.header {
  position: absolute;
  top: 6px;

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 38px;
    transform: translate(-50%, -50%);
    left: 50%;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;

  @media screen and (min-width: $tablet) {
    width: $tablet;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__logo {
  position: static;

  @media screen and (min-width: $desktop) {
    position: absolute;
  }
}

.js-open-menu {
  display: block;
  margin-right: 20px;
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.header__nav {
  display: none;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(21 / 16);

  @media screen and (min-width: $tablet) {
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.header__navlist {
  @media screen and (min-width: $desktop) {
    margin-left: 355px;
    display: flex;
  }
}

.header__nav-link {
  color: $text-color-white;
  &:hover,
  &:focus {
    color: $text-color-red;
  }
}

.header__nav-item:not(:last-child) {
  margin-right: 35px;
}

.button__hero {
  margin: 0;
  padding: 0;
  background-color: $text-color-white;
  color: $text-color-red;
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
  }
}

// -------MODAL---------

.modal__header {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
}

.modal__btn-close {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 23px;
  right: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $text-color-red;
  }
}

.modal__btn-close-icon {
}
