.modal__header {
  position: absolute;
  right: 0;
  display: block;
  width: 250px;
  height: 100vh;

  background-color: #e17992;
}

.modal__btn-close {
  position: absolute;
  border: none;
  background-color: transparent;
  top: 23px;
  right: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: $text-color-white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $text-color-red;
  }
}

.modal__btn-close-icon {
}
